
<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!--
<footer id="local-footer" class="local-footer" role="local-footer">
<div class="row">
<span class="reference">How to reference this page: ...</span>
</div>
</footer>
-->
<!-- End optional local footer -->

<!-- End suggested layout containers / #content -->

<footer>
<div id="global-footer" class="global-footer">
<nav id="global-nav-expanded" class="global-nav-expanded row">
<!-- Footer will be automatically inserted by footer.js -->
</nav>
<section id="ebi-footer-meta" class="ebi-footer-meta row">
<!-- Footer meta will be automatically inserted by footer.js -->
</section>
</div>
</footer>


<div class="vf-body">
<div class="vf-grid">
  <div>
    {% if serverInfo.environment == "development" %}
    <code class="vf-code-example">
      <pre class="vf-code-example__pre">
⚠️ You're running the {{serverInfo.environment}} command.
      </pre>
    </code>
    {% endif %}

  </div>
</div>
</div>


<!-- This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }} -->
<script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"></script>

<!-- JavaScript -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<!--
<script>window.jQuery || document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')</script>
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script defer="defer" src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script>

<!-- The Foundation theme JavaScript -->
<script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
<script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script>
<script type="text/JavaScript">$(document).foundation();</script>
<script type="text/JavaScript">$(document).foundationExtendEBI();</script>
