

<!-- You can set custom colours for BioImaging banner,
     this must come before the html snippet -->
<style>
:root {
--vf-bioimaging-banner__color--background: var(--vf-color-gray-dark);--vf-bioimaging-banner__color--foreground: var(--vf-ui-color-white);}
</style>

<!-- BioImaging banner -->
<div data-vf-js-bioimaging-banner class="vf-banner vf-bioimaging-banner vf-banner--static vf-banner--notice">
<div class="vf-banner__content vf-bioimaging-banner__content" data-vf-js-bioimaging-banner-text>
</div>
</div>

